.box-cookies.hide {
    display: none !important;
}

.box-cookies {
    position: fixed;
    background: #111111e8;
    width: 100%;
    /*max-width: 980px;*/
    z-index: 998;
    bottom: 0;
    right: 0;
    border-radius: 8px 0px 0px 0px;
    /*border: dashed 3px rgba(255, 255, 255, 0.6);*/
    border-bottom: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-cookies a {
    color: #fff;
    font-weight: bold;
}

.box-cookies a:hover {
    text-decoration: underline;
}

.msg-cookies,
.box-cookies .btn-cookies {
    text-align: left;
    padding: 5px;
    color: #999;
    font-size: 14px;
    margin-bottom: 5px;
}

.box-cookies .btn-cookies {
    cursor: pointer;
    height: auto;
    margin: 11px 10px 10px;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
}

.msg-cookies {
    padding: 8px;
}

@media screen and (max-width: 600px) {
    .box-cookies {
        flex-direction: column;
        border-left: none;
    }
} 